In [16]:
import numpy as np
import pandas as pd
from pathlib import Path
import zipfile

# Extract all zip files in 'data/btc' folder
data_path = Path('../../data/btc')
# i = 0
# for file in data_path.glob('*.zip'):
#     with zipfile.ZipFile(file, 'r') as zip_ref:
#         zip_ref.extractall(data_path)
#     i += 1

    # if i > 10:
    #     break

# Read all CSV files and concatenate into a single DataFrame
csv_files = list(data_path.glob('bitstamp_trx*.csv'))
df = pd.concat((pd.read_csv(csv_file) for csv_file in csv_files), ignore_index=True)
df = df.rename(columns={c: c.split("'")[1] for c in df.columns})

# Display the head of the resulting DataFrame
df.head()

,timestamp,price,datetime,cost,id,fee,fee1,order,symbol,amount,type,side
0,1535576406000,7036.79,2018-08-29T21:00:06.000Z,7036.790000,73110543,{'currency': u'USD','cost': None},None,BTC/USD,1.000000,None,buy
1,1535576406000,7030.00,2018-08-29T21:00:06.000Z,372.590000,73110542,{'currency': u'USD','cost': None},None,BTC/USD,0.053000,None,sell
2,1535576409000,7030.01,2018-08-29T21:00:09.000Z,49.210070,73110544,{'currency': u'USD','cost': None},None,BTC/USD,0.007000,None,sell
3,1535576411000,7035.44,2018-08-29T21:00:11.000Z,7035.413899,73110545,{'currency': u'USD','cost': None},None,BTC/USD,0.999996,None,buy
4,1535576431000,7039.01,2018-08-29T21:00:31.000Z,249.869792,73110551,{'currency': u'USD','cost': None},None,BTC/USD,0.035498,None,buy

In [17]:
df["datetime"] = pd.to_datetime(df["datetime"])
df = df.set_index("datetime")
df.sort_index()

,timestamp,price,cost,id,fee,fee1,order,symbol,amount,type,side
datetime,,,,,,,,,,,
2018-05-31 21:00:13+00:00,1527800413000,7538.34,75.383400,67405327,{'currency': u'USD','cost': None},None,BTC/USD,0.010000,None,sell
2018-05-31 21:00:18+00:00,1527800418000,7533.92,35.761333,67405331,{'currency': u'USD','cost': None},None,BTC/USD,0.004747,None,sell
2018-05-31 21:00:18+00:00,1527800418000,7537.49,753.749000,67405328,{'currency': u'USD','cost': None},None,BTC/USD,0.100000,None,sell
2018-05-31 21:00:18+00:00,1527800418000,7535.44,2995.337400,67405330,{'currency': u'USD','cost': None},None,BTC/USD,0.397500,None,sell
2018-05-31 21:00:18+00:00,1527800418000,7536.00,7.536000,67405329,{'currency': u'USD','cost': None},None,BTC/USD,0.001000,None,sell
...,...,...,...,...,...,...,...,...,...,...,...
2018-09-30 21:59:37+00:00,1538344777000,6555.76,1497.396225,75177316,{'currency': u'USD','cost': None},None,BTC/USD,0.228409,None,buy
2018-09-30 21:59:37+00:00,1538344777000,6555.75,1349.606357,75177315,{'currency': u'USD','cost': None},None,BTC/USD,0.205866,None,buy
2018-09-30 21:59:37+00:00,1538344777000,6555.74,1106.925030,75177314,{'currency': u'USD','cost': None},None,BTC/USD,0.168848,None,buy
2018-09-30 21:59:37+00:00,1538344777000,6555.77,1216.049379,75177317,{'currency': u'USD','cost': None},None,BTC/USD,0.185493,None,buy
2018-09-30 21:59:37+00:00,1538344777000,6555.78,280.549950,75177318,{'currency': u'USD','cost': None},None,BTC/USD,0.042794,None,buy

In [18]:
returns = df["price"].pct_change()
returns = returns.dropna()
returns

datetime
2018-08-29 21:00:06+00:00   -0.000965
2018-08-29 21:00:09+00:00    0.000001
2018-08-29 21:00:11+00:00    0.000772
2018-08-29 21:00:31+00:00    0.000507
2018-08-29 21:00:36+00:00   -0.000001
                               ...
2018-07-29 21:58:54+00:00    0.001192
2018-07-29 21:58:54+00:00   -0.000022
2018-07-29 21:58:54+00:00    0.000000
2018-07-29 21:58:54+00:00    0.000000
2018-07-29 21:59:34+00:00   -0.000767
Name: price, Length: 2795141, dtype: float64

In [19]:
vol = (returns ** 2).resample("h").sum().rename("vol")
ret = returns.add(1).resample("h").prod().add(-1).rename("ret")
hourly = pd.merge(vol, ret, left_index=True, right_index=True, how="outer")
hourly

                                vol       ret
datetime
2018-05-31 21:00:00+00:00  0.025631  0.160838
2018-05-31 22:00:00+00:00  0.000307 -0.012561
2018-05-31 23:00:00+00:00  0.000106  0.005552
2018-06-01 00:00:00+00:00  0.000103  0.001921
2018-06-01 01:00:00+00:00  0.000095 -0.001922
...                             ...       ...
2018-09-30 17:00:00+00:00  0.000028 -0.000451
2018-09-30 18:00:00+00:00  0.000014  0.000298
2018-09-30 19:00:00+00:00  0.000025 -0.002138
2018-09-30 20:00:00+00:00  0.000094 -0.003682
2018-09-30 21:00:00+00:00  0.000034  0.000604

[2929 rows x 2 columns]

In [20]:
hourly.isna().any().any()

np.False_

In [22]:
# features = features.sort_index(ascending=True)
# hourly.to_csv('../../data/btc/targets.csv')