In [5]:
import pandas as pd
from config.experiment_config import ExperimentConfig

In [6]:
nbeats = pd.read_csv("NBeats_Features.csv").set_index("datetime")
patch_ts = pd.read_csv("PatchTS_Features.csv").set_index("datetime")

In [7]:
import numpy as np
from sklearn.metrics import root_mean_squared_error

def get_rmse(result: pd.DataFrame, model_name: str) -> pd.DataFrame:
    rmse = []
    for (date, row) in result.iterrows():
        true_vols = np.fromstring(row.true_vols.strip("[]").replace("\n", " "), sep=" ")
        model_preds = np.fromstring(row.model_preds.strip("[]").replace("\n", " "), sep=" ")

        # print(model_preds)
        rmse.append([date, root_mean_squared_error(true_vols, model_preds)])

    return pd.DataFrame(rmse, columns=["date", model_name]).set_index("date")

In [8]:
nbeats_rmse = get_rmse(nbeats, "NBeats")
nbeats_rmse

              NBeats
date
2018-06-30  0.084205
2018-07-03  0.003677
2018-07-04  0.022720
2018-07-05  0.021535
2018-07-06  0.093199
...              ...
2018-09-26  0.080357
2018-09-27  0.016009
2018-09-28  0.106185
2018-09-29  0.027291
2018-09-30  0.057245

[87 rows x 1 columns]

In [9]:
nbeats_rmse.mean(axis=0)

NBeats    0.039262
dtype: float64

In [12]:
nbeats_rmse.std(axis=0)

NBeats    0.034937
dtype: float64

In [10]:
patch_ts_rmse = get_rmse(patch_ts, "PatchTS")
patch_ts_rmse

             PatchTS
date
2018-06-30  0.084632
2018-07-03  0.078664
2018-07-04  0.077625
2018-07-05  0.077519
2018-07-06  0.077406
...              ...
2018-09-26  0.077757
2018-09-27  0.077867
2018-09-28  0.077542
2018-09-29  0.077850
2018-09-30  0.077933

[87 rows x 1 columns]

In [11]:
patch_ts_rmse.mean(axis=0)

PatchTS    0.077848
dtype: float64

In [13]:
patch_ts_rmse.std(axis=0)

PatchTS    0.000784
dtype: float64